* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.header {
    width: 100vw;
    height: 150px;
    border-bottom: 1px solid grey;
    padding: 10px;
    color: #5f6368;
}

.header_top {
    display: flex;
    align-items: center;
    height: 50%;
    width: 100%;
}

.img_container {
    display: flex;
    align-items: center;
    width: 50%;
    height: 100%;
    font-size: 14px;
}
.img_container h1 {
    padding-left: 5px;
    font-weight: lighter;
}
.header_top img {
    width: 80px;
}

.header_bottom {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 50%;
    width: 100%;
}

.header_bottom ul {
    list-style: none;
}

.header_bottom ul li {
    display: inline-block;
    padding-right: 20px;
}

.header_bottom ul li a:active {
    padding-bottom: 30px;
    border-bottom: 3px solid #3367d6;
    color: #3367d6;
}

.header_bottom a {
    text-decoration: none;
    color: #5f6368;
}

.my_logo_container {
    width: 60%;
    display: flex;
    justify-content: end;
    align-content: center;
}

.my_logo {
    background-color: #bdc1c6;
    color: white;
    padding: 10px;
    border-radius: 50%;
    text-transform: uppercase;
}

.main {
    width: 100vw;
    height: 100vh;
    color: #3c4043;
    overflow: scroll;
    position: relative;
}

.main_container {
    width: 70%;
    margin: 0 auto;
    padding: 10px;
}

.main_container h2 {
    padding-top: 30px;
}

.main_container ul {
    list-style: none;
}

.main_container ul li {
    padding: 20px 0px;
    font-size: 12px;
    line-height: 2em;
}

.footer {
    background-color: #f5f5f5;
    height: 70px;
    width: 100vw;
}

.footer_container {
    width: 70%;
    margin: 0 auto;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer_container ul {
    list-style: none;
}

.footer_container ul li {
    display: inline-block;
    font-size: 10px;
    color: grey;
    padding-right: 10px;
}
/* 
on hover {
    border-bottom: 3px solid #3367d6;
    color: #3367d6;
*/